.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}





#main_container {
    width: fit-content;
    height: 10%;
    margin-left: 30px;
    padding-top: 20px;
}



/* search bar */
#search-bar {
    width: 400px;
}

mat-label img {
    margin-left: 230px;
    align-self: flex-end;
    align-content: end;
}

mat-label div {
    margin-right: auto;
}


/* cuisine drop down */

#cuisine-dd {
    margin-left: 30px;
    width: 180px;
}
