<div class="border" id="details-div">
    <div id="upper-details-container">
        <img src="../assets/images/pizza.jpg" class="img-border">
        <div id="title-container">
            <div>
                <span id="recipe-name" class="green">Pizza margarita</span>
            </div>
        </div>
        <div class="summary-container">
            <span>
                OOOOOOOOO PARTIZAN ALE ALE PARTIZAN ALEEE ALEE O IDEMO DO POBEDEEEE... OOOOOOOOOO MI ZA TEBE ZIVIMO AJDE INDIJANCE OVE ZAJEDNO DA JEBEMOOO... 
            </span>
        </div>
    </div>
</div>