<div class="border" id="details-div">
    <div id="upper-details-container">
        <img src="../assets/images/pizza.jpg" class="img-border">
        <div id="title-container">
            <div id="recipe-name-container">
                <span id="recipe-name-text" class="green">Pizza margarita</span>
            </div>
            <div id="main-details-container" class="gray">
                <div>
                    <i class="fa-sharp fa-solid fa-clock"></i>
                    <span>Prep time: <span class="orange">35min</span></span>
                </div>
                <div>
                    <i class="fa-solid fa-user-group"></i>
                    <span>Number of servings: <span class="orange">3</span></span>
                </div>
                <div>
                    <i class="fa-solid fa-fire"></i>
                    <span>Total calories: <span class="orange">1350</span></span>
                </div>
            </div>
        </div>
        <div class="summary-container">
            <span>
                OOOOOOOOO PARTIZAN ALE ALE PARTIZAN ALEEE ALEE O IDEMO DO POBEDEEEE... OOOOOOOOOO MI ZA TEBE ZIVIMO AJDE INDIJANCE OVE ZAJEDNO DA JEBEMOOO... 
            </span>
        </div>
        <div id="ingredient-directions-container">
            <div id="ingredient-container">
                <h4 class="green">Ingredients</h4>
                <div id="all-ingredient-bullets-container">
                    <div class="ingredient-bullet">
                        <i class="fa-solid fa-circle"></i>
                        <span>1 tbsp of bullet</span>
                    </div>
                    <div class="ingredient-bullet">
                        <i class="fa-solid fa-circle"></i>
                        <span>1 tbsp of bullet</span>
                    </div>

                    <div class="ingredient-bullet">
                        <i class="fa-solid fa-circle"></i>
                        <span>1 tbsp ooo crno beli volimo vas volimo vas volimooo</span>
                    </div>
                </div>
            </div>
            <div id="id-line"></div>
            <div id="directions-container">
                <h4 class="green">Directions</h4>
            </div>
        </div>
    </div>
</div>