#details-div{
    /* display: flex; */
    /* align-items: center; */
    width: 60%;
    margin: 0 auto;
    height: 650px;
    margin-top: 20px;
    box-shadow: 0 5px 2px -2px #B9BBBD;
}

#upper-details-container{
    position: relative;
    height: 35%;
    background-color: #D9D9D9; 
    border-radius: 10px;
}

img {
    position: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-border {
    border-radius: 10px 10px 0px 0px;
}

.summary-container {
    border-radius: 0px 0px 10px 10px;
    /* width: 100%; */
    margin-top: -15px;
    background-color: #D9D9D9;
    padding: 40px 10px 20px 10px;
    font-family: 'Poppins';
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    /* text-align: center; */
}

#title-container{
    border-radius: 10px;
    background-color: white;
    width: 70%;
    height: 80px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -15px;
}

#recipe-name-container{
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 8px;
}

#recipe-name-text {
    font-family: 'Poppins';
    font-size: 1.6em;
    font-weight: 700;
}

#main-details-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    font-family: 'Poppins';
    font-weight: 600;
}

#main-details-container>div{
    display: inline-block;
}

#main-details-container i {
    margin-right: 5px;
}

#ingredient-directions-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 5px;
    font-family: 'Poppins';
}

#id-line{
    /* position: relative; */
    position: inherit;
    border-right: 1px solid #B9BBBD;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    /* height: 100%; */
}

#ingredient-container{
    width: 35%;
}

#ingredient-directions-container h4{
    text-align: center;
    font-size: 1.2em !important;
    margin-bottom: 12px !important;
}

#directions-container{
    width: 60%;
}

#all-ingredient-bullets-container {
    width: 80%;
    margin: 0 auto;
}

#all-directions-bullets-container{
    width: 95%;
    margin: 0 auto;
}

.ingredient-bullet, .direction-bullet{
    margin-bottom: 12px;
}

.ingredient-bullet i {
    color: #FFDDD2;
    margin-right: 8px;
}

.ingredient-bullet span, .direction-bullet span {
    color: #455A64;
}

.direction-bullet i {
    font-size: 1.2em;
    margin-right: 8px;
    color: #D9D9D9;
}

.square-bullet{
    display: inline-block;
    background-color: #D9D9D9;
    width: 20px;
    text-align: center;
    margin-right: 8px;
    border-radius: 2px;
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
}
