/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background-color: #F9F9F9;
    position: relative;
}

html, body { height: 100%; width: 100%; margin: 0; font-family: "Poppins", sans-serif; }

.mat-form-field {
    width: 80%;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 22px;
    padding: 0;
    font-size: 12px;
}

.mat-form-field-wrapper {
    height: 50px !important;
}

.mat-form-field-subscript-wrapper {
    margin-top: 2px !important;
}


.mat-error {
    margin-top: -1.2px;
    margin-left: -1px;
    font-size: 11px;
}

.mat-icon {
    font-family: 'Material Icons'; 
}

.mat-snack-bar-container {
    color: white;
}

.mat-simple-snackbar-action button {
    color: white;
}

.mat-form-field-prefix {
    top: 1px !important;
}

.border {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

.blue {
    color: #006D77 !important;
 }

 .text-color {
    color: #455A64 !important;
 }

 .dark-blue {
    color: #1E4A5A;
 }

 .white {
    color: white;
 }

 .red-orange {
    color: #E29578 !important;
}

.black {
    color: #383838 !important;
}

.orange {
    color: #FF9A6C !important;
}

.back-orange {
    background-color: #FF9A6C !important;
}

.green {
    color: #83C5BE !important;
}

.back-blue {
    background-color: #006D77 !important;
}

.back-red-orange {
    background-color: #E29578 !important;
}

.back-green {
    background-color: #83C5BE !important;
}

.gray {
    color: #B9BBBD !important;
}

.back-gray {
    background-color: #F5F5F5 !important;
}

.basic-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    margin: 0;
}

.recipe-stat {
    display: inline-block;
    font-size: 0.8em;
}

.recipe-stat i {
    display: inline-block;
    margin-right: 5px;
} 

.recipe-stat p {
    display: inline-block;
    margin-right: 10px;
} 

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", "Helvetica Neue", sans-serif; }

/* CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c0c0c0; 
    border-radius: 2px;
    height: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #969696; 
  }
