.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#main-container {
    width: 30%;
    height: fit-content;
    /* border: 1px solid black; */
    align-items: center;
    background-color: white;
}

#title-text {
    width: 30%;
}

#title-img {
    height: 200px;
}

.title {
    width: 80%;
    align-items: center;
}


/* FORM */

.form {
    width: 80%;
}
form {
    width: 100%;
}


/* FIELD TITLE AND LINE */

.field-title {
    width: 90%;
    vertical-align: middle;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.field-title > p {
    align-self: left;
    margin-right: auto;
    width: fit-content;
    color: #455A64;
}

.line {
    height: 1px;
    width: min-content;
    flex-grow: 1;
    background-color: #455A64;
    border: none;
    outline: none;
    align-items: baseline;
    margin-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

/* FORM FIELD */
mat-form-field {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

mat-label {
    align-items: center;
    align-content: center;
    vertical-align: middle;
    align-self: center;
    margin-bottom: auto;
}

mat-label > img {
    height: 1rem;
    margin: auto;
    margin-right: 0.5rem;
}


/* INCLUDED INGR */

.included-item {
    font-family: 'Poppins', sans-serif;
    background-color: #83C5BE;
    padding: 0.2rem 0.2rem;
    align-self: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.included-item div {
    color: white;
}

.included-item > img {
    margin: auto;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
}

button {
    padding: 0.8rem 1.4rem;
    background-color: #006D77;
    color: white;
    border-radius: 12px;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.checkboxes {
    width: 95%;
    margin: 0 auto;
}