.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#main-container {
    width: 100%;
    height: fit-content;
    /* border: 1px solid black; */
    align-items: center;
    background-color: white;
    color: #B9BBBD !important;
    overflow-y: scroll;
}

#title-text {
    width: 30%;
    margin-top: -20px;
}

#title-img {
    height: 200px;
}

.title {
    width: 80%;
    align-items: center;
}


/* FORM */

.form {
    width: 90%;
}
form {
    width: 100%;
}


/* FIELD TITLE AND LINE */

.field-title {
    width: 90%;
    vertical-align: middle;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.field-title > p {
    align-self: left;
    margin-right: auto;
    width: fit-content;
    color: #8c8e90;
}

.line {
    height: 1px;
    width: min-content;
    flex-grow: 1;
    background-color: #a5a7a9;
    border: none;
    outline: none;
    align-items: baseline;
    margin-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

::ng-deep .mat-mdc-form-field-infix {
    min-height: 44px !important;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* FORM FIELD */

mat-form-field {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/* 
.mat-mdc-form-field-subscript-wrapper {
    height: 0;
}

::ng-deep .mdc-form-field>label {
    color: #8c8e90 !important;
}
*/

::ng-deep mat-label {
    align-items: center;
    align-content: center;
    vertical-align: middle;
    align-self: center;
    margin-bottom: auto;
    color: #8c8e90 !important;
}

mat-label > img {
    height: 1rem;
    margin: auto;
    margin-right: 0.5rem;
} 

::ng-deep .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
    top: 50%;
}

/* MAX I MIN FIELDS */

#max-cal {
    width: 35%;
}

#min-cal {
    width: 35%;
}


/* INCLUDED INGR */
#included-container {
    overflow-x: hidden;
    overflow-y: hidden;
}


.included-item {
    font-family: 'Poppins', sans-serif;
    padding: 0.2rem 0.2rem;
    align-self: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 1rem;
    margin-right: 5px;
}

.included-item div {
    color: white;
}

#img {
    height: 100%;
    display: flex;
}

.included-item  img {
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.5rem;
    padding-top: 0.3rem;
}

.background-green {
    background-color: #83C5BE;
}

.background-red {
    background-color: #E29578;
}


#btn {
    width: 100%;
    display: flex;
}

button {
    padding: 0.8rem 1.4rem;
    width: 10rem;
    background-color: #006D77;
    color: white;
    border-radius: 12px;
    border: none;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    align-self: center;
    align-content: center;
    align-items: center ;
}

.checkboxes {
    width: 95%;
    margin: 0 auto;
}

#dropdown-form {
    display: none;
}

@media screen and (max-width: 1000px) {
    #dropdown-form {
        display: block;
    }
}