.recipe-card {
    height: 230px;
    width: 250px;
    cursor: pointer;
}

.recipe-card:hover {
    opacity: 0.8;
}

.recipe-card-image {
    height: 73%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.recipe-card-text {
    height: fit-content;
    font-weight: 700;
    color: #B9BBBD;
    padding: 10px;
    margin-top: -10px;
    padding-bottom: 15px;
}

.recipe-card-title {
    font-size: 1em;
}

#card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: fit-content;
    /* width: 70%; */
}

#paginated-cards-container {

}

::ng-deep mat-paginator {
    color: #898989 !important;
    cursor: pointer;
    margin-top: 40px;
}

::ng-deep .mat-mdc-paginator {
    background-color: transparent;
}
