<div id="paginated-cards-container">
    <div id="card-container">
        <div class="recipe-card basic-container" *ngFor="let recipe of recipesSlice" (click)="openRecipeDetails(recipe.id)">
            <img class="recipe-card-image" [src]="recipe.image" alt="">
            <div class="recipe-card-text">
                <p class="recipe-card-title green">{{ recipe.title }}</p>
                <div class="recipe-stat">
                    <i class="fa-sharp fa-solid fa-clock"></i>
                    <p class="recipe-prep-time">{{ recipe.readyInMinutes }} min</p>
                </div>
                <div class="recipe-stat">
                    <i class="fa-solid fa-user-group"></i>
                    <p class="recipe-no-servings">{{ recipe.servings }}</p>
                </div>
            </div>
        </div>
    </div>
    
    
    <mat-paginator [length]="this.totalResults"
                  [pageSize]="this.pageSize"
                  [pageSizeOptions]="[8, 12]"
                  (page)="handlePageEvent($event)"
                  aria-label="Select page">
    </mat-paginator>
</div>
